@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.theme-light {
  --background-color: #f7edcf;
  --text-color: #293433;
  --subtext-color: #273e47;
  --accent-color-mid: #bd632f;
  --accent-color-light: #d8973c;
}

.theme-dark {
  --background-color: #293433;
  --text-color: #f7edcf;
  --subtext-color: #d8c99b;
  --accent-color-mid: #bd632f;
  --accent-color-light: #d8973c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
