.container_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 85vh;
  padding-left: 2em;
}

.container_heading_home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5%;
}
.title_home {
  font-size: 5em;
  font-weight: 500;
}
.subtitle_home {
  font-size: 2em;
  font-weight: 300;
}

.homelist_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card_article_container {
  margin: 2%;
  background-color: var(--subtext-color);
  border-radius: 1em;
  padding: 2%;
}

.article_title {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--background-color);
}

@media screen and (max-width: 987px) {
  .homelist_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .homelist_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .homelist_container {
    display: flex;
    flex-direction: column;
  }
}
